html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  color: #423E37;
}

#root {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__body {
  display: flex;
  flex: 1;
}
